In [6]:
import pytrends
import pandas as pd

In [7]:
import pandas as pd                        
from pytrends.request import TrendReq
pytrend = TrendReq()

In [ ]:
# Related Queries, returns a dictionary of dataframes
pytrend.build_payload(kw_list=['Coronavirus'])
# 
related_queries = pytrend.related_queries()

In [10]:
related_queries

{'Coronavirus': {'top':                             query  value
  0              coronavirus update    100
  1               coronavirus cases     88
  2                  uk coronavirus     72
  3                coronavirus news     71
  4                          corona     59
  5               india coronavirus     53
  6            coronavirus symptoms     38
  7              coronavirus france     36
  8   thank you coronavirus helpers     35
  9         worldometer coronavirus     34
  10                usa coronavirus     34
  11              coronavirus world     33
  12                    worldometer     33
  13                 coronavirus us     32
  14                 us coronavirus     32
  15               coronavirus live     31
  16             italia coronavirus     31
  17                coronavirus map     30
  18               coronavirus tips     28
  19             coronavirus deaths     27
  20                       covid 19     24
  21                   corona virus     24
  22             coronavirus españa     24
  23           coronavirus in india     23
  24              coronavirus death     23,
  'rising':                                                 query   value
  0                       thank you coronavirus helpers  166750
  1                             worldometer coronavirus  165500
  2                                            covid 19  117300
  3                                   coronavirus italy   74350
  4                                    coronavirus oggi   71000
  5                             india coronavirus cases   47500
  6                                us coronavirus cases   38950
  7                             coronavirus update live   37050
  8                               coronavirus deaths uk   35100
  9                          coronavirus cases in india   28650
  10                            ultima hora coronavirus   27400
  11                                coronavirus aktuell   27050
  12                               coronavirus by state   26100
  13                           worldometers coronavirus   25600
  14                           coronavirus en argentina   22850
  15                                 coronavirus italie   21550
  16                                        worldometer   21550
  17                            world coronavirus cases   20950
  18                                coronavirus romania   20550
  19  merci à tous ceux qui aident à combattre le co...   19800
  20                                  wuhan coronavirus   18750
  21                                  coronavirus meter   17050
  22                               coronavirus campania   14350
  23                             coronavirus update usa   14100
  24                              coronavirus world map   13650}}

In [ ]:
# Related Topics, returns a dictionary of dataframes
related_topic = pytrend.related_topics()
related_topic.values()

In [15]:
# Get Google Hot Trends data
category_dict = {
    'People & Society': 14,
    'Ethnic & Identity Groups':56,
    'Discrimination & Identity Relations':1205,
    'Politics':396,
    'News':16,
    'World News':1209,
    'Business News':784,
}
df_list = []
for cat_name, cat_id in category_dict.items():

  cat_df = pytrend.trending_searches(pn="united_states")
  cat_df['category'] = cat_name
  cat_df['cat_id'] = cat_id
  df_list.append(cat_df)
df = pd.concat(df_list,axis=0)

In [16]:
df

                         0          category  cat_id
0                 Patriots  People & Society      14
1             Jimbo Fisher  People & Society      14
2                 Steelers  People & Society      14
3      Chelsea vs Man City  People & Society      14
4                   Diwali  People & Society      14
..                     ...               ...     ...
15          Jiří Procházka     Business News     784
16                  Lakers     Business News     784
17  Michigan vs Penn State     Business News     784
18               Boygenius     Business News     784
19           Megan Rapinoe     Business News     784

[140 rows x 3 columns]